[Unit]
Description=carbon.cc ultra
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/opt/ccc/bin/ccc-pod -stop -f /opt/ccc/etc/ultra/ccc-pod.yaml
ExecStart=/opt/ccc/bin/ccc-pod -start -bliss -f /opt/ccc/etc/ultra/ccc-pod.yaml
ExecStop=/opt/ccc/bin/ccc-pod -stop -f /opt/ccc/etc/ultra/ccc-pod.yaml

[Install]
WantedBy=multi-user.target
